@page
@model HomePage.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "Obehörig";
}

<div class="page-wrapper mainscreen" style="gap: 12px; margin-top: 12px">
    <h2>Du har inte rättigheter att besöka sidan.</h2>
</div>
<script src="~/js/homeButton.js" asp-append-version="true"></script>
