.page-wrapper.old-page {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.styled-button {
    height: 38px;
    border-radius: 12px;
    background-color: #74bd2b;
}

.spinner-overlay {
    position: absolute;
    height: 100vh;
    width: 150vw;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: gray;
    opacity: 0.4;
    left: -30%;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #ddd;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.word-mix-other-current {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 16px;
    border: 1px solid black;
    padding: 8px;
}

.home-button {
    position: absolute;
    left: 5px;
    top: 5px;
}

.list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.list-wrapper button {
    width: fit-content;
}

.list-wrapper-inner {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-height: 40vh;
    overflow: auto;
}

.mainscreen .date-based {
    display: none;
}

.mainscreen.isDateBased .date-based {
    display: flex;
}

.isDateBased .not-date-based {
    display: none;
}

.note-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 12px;
}

.profile-photo {
    width: 48px;
    height: 48px;
    flex: 0 0 48px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.profile-photo.jens {
    background-image: url(../Jens.png);
}

.profile-photo.anna {
    background-image: url(../Anna.png);
}

.profile-photo.unknown {
    background-image: url(../Unknown.jpg);
}

.note-wrapper span {
    background-color: white;
    padding: 4px;
    border: 1px solid black;
    border-radius: 8px;
}

.pictures-wrapper {
    margin-top: 25px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.pictures-wrapper img {
    width: 84px;
    height: 84px;
}

.picture-wrapper {
    position: relative;
}

.picture-wrapper button {
    position: absolute;
    right: -5px;
    top: -5px;
    width: 28px;
    height: 24px;
    font-size: 8px;
}

.approval-icon {
    display: flex;
    font-size: 16px;
    position: absolute;
    width: fit-content;
    background: #add1ff;
    border-radius: 12px;
    height: 18px;
    width: 18px;
    align-items: center;
    text-align: center;
    justify-content: center;
    right: -18px;
    top: 0;
}

.word-mix-square {
    position: absolute;
    border: 1px solid black;
    background-color: #0ae3d9;
}

.word-mix-score-wrapper {
    display: flex;
    gap: 12px;
}

.word-mix-score-wrapper span {
    font-size: 40px;
}

.word-mix-letter-outer {
    position: absolute;
}

.word-mix-storage-wrapper {
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 120px;
    border: 2px solid black;
    left: 0;
}

.word-mix-letter-outer {
    left: 15px;
    top: 586px;
    border: 1px solid black;
    border-radius: 12px;
    text-align: center;
    background-color: white;
    touch-action: none;
}

.word-mix-letter-outer span {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.word-mix-letter {
    font-size: 24px;
}

.word-mix-invalid {
    background-color: red;
}

.connection-icon {
    max-width: 16px;
    max-height: 16px;
    border-radius: 16px;
    background: green;
    border: 1px solid black;
    margin-top: 16px;
    width: 16px;
    height: 16px;
}

.connection-icon.offline {
    background: red;
}

.extra-word-wrapper {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.extra-word-outer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow: auto;
    height: calc(100vh - 124px);
}