.wiki-container {
	max-width: 900px;
	height: calc(100vh - 87px);
	border: 2px solid black;
	overflow: auto;
	width: 95vw;
	top: 85px;
	position: absolute;
	padding: 3px;
}

.wiki-container h1, h2, h3 {
	margin-top: 1.5rem;
}

.wiki-container a {
	color: blue !important;
	text-decoration: underline !important;
}
